# packaging
pip>=9

# utilities
aiortc==1.2.1
opencv-python-headless
opencv-contrib-python-headless
cvzone
mediapipe==0.8.9

numpy

#streamlit and tensorflow
streamlit-webrtc==0.31.3
streamlit==1.2.0
tensorflow==2.5.2
